@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --corFundo: #0D0D0D;
    --corHeader: #BF4417;
    --corForte: #400F04;
    --corFraca: #D95F18;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--corFundo);
    color:#fff;
    font-family: "Ubuntu", sans-serif;
}
.header_index {
    background-color: var(--corHeader);
}
.imagem_logo {
    width: 48px;
    height: 48px;
    margin: 16px;
}
.imagem_user {
    width: 38px;
    height: 38px;
    margin: 10px;
}
.welcome_text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 12px;
}
.secao_index {
    display: flex; 
    align-items: center;
    gap: 16px;
    padding: 16px;
}
.logo_nome {
    margin-right: 0.8rem;
    text-align: center;
}
.offcanvas-header {
    background-color: var(--corForte);
    color: #fff;
    border-bottom: 2px solid var(--orange);
}
.offcanvas-body {
    background-color: var(--corFraca);
    color: black;
    padding: 20px;
}
.imagem_perfil {
    border-radius: 16px;
    border: solid black;
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
}
.acompanha_tecnico {
    margin: 1rem;
}
#estatistica {
    background-color: var(--corHeader);
    border-radius: 16px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 32px;
}
#borda_estatistica {
    border-radius: 16px;
}
#table_index {
    font-size: 18px;
    border-radius: 16px;
}
