:root {
    --primary-color: #04364A;
    --secondary-color: #4AC8FF;
    --accent-color: #038C3E;
    --dark-bg: #0B3140;
    --light-bg: #F5F6F8;
    --text-light: #FFFFFF;
    --text-dark: #333333;
    --azulClaro: #104D73;
    --azulMarinho: #0B3140;
    --azulEsfolado: #025E73;
    --verdeMusgo: #012626;
    --azulBebe: #6AD9D9;
    --verdeMorto: #014034;
    --azulForte: #071D26;
    --verdeVivido: #038C3E;
    --verdeEsfolado: #025940;
    --cinza: #F5F6F8;
    --cinzaForte: #73767B;
    --bordaInput: #EDEDF1;
}

.add-btn {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--verdeEsfolado);
}

.status-available {
    background-color: var(--verdeVivido);
    color: white;
    border-radius: 16px;
    padding: 5px;
}

.status-in_use {
    background-color: var(--secondary-color);
    color: var(--azulMarinho);
    border-radius: 16px;
    padding: 5px;
}

.status-maintenance {
    background-color: #FFC107;
    color: #856404;
    border-radius: 16px;
    padding: 5px;
}

.status-discarded {
    background-color: #DC3545;
    color: white;
}

#partModal .form-group {
    margin-bottom: 15px;
}

#partModal label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

#partModal input[type="date"] {
    padding: 9px;
}